.noExtraField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.noExtraQuestion{
    width: 30vw;
    text-align: center;
}
.time-label {
  margin-bottom: 5px;

}

.time-inputs-container {
  display: flex;
  align-items: center;
  gap:4px;
  margin-bottom: 2vh;
}

.time-input {
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 24vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.time-separator {
  font-weight: bold;
}
