@media print{
  .menuButton {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .leftDesign {
    background-image: url('../assets//elements/form-assets/leftWave.svg');
    background-repeat: no-repeat;
    z-index: -2;
  }
  .mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 3vh;
    background-color: transparent;
  }
  .menuButton {
    background-color: transparent;
    margin-left: 2vw;
    margin-right: 2vw;
    border: none;
  }
  .menuButton:active {
    background-color: black;
    color: white;
  }
  .fa-bars {
    font-size: 39px;
    background-color: transparent;
    color: black;
  }
  .logo {
    width: 100px;
    padding-right: 2vw;
    background-color: transparent;
  }
  .dropdownMenu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 65vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
  .menuHeader{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 3vh;
    margin-bottom: 2vh;
  }
  .dropdownMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .dropdownMenu ul li {
    padding: 2vh 4vh;
    border-top: 0.5px #ccc solid;
    border-bottom: 0.5px #ccc solid;

  }
  .dropdownMenu ul li a {
    color: #333;
    text-decoration: none;
  }
  .dropdownMenu ul li a:hover {
    background-color: #f0f0f0;
  }
  .dropdownMenu ul li a.active {
    color: blue; 
  }
}
